button {
    margin: 0.8rem;
    border: 0.2rem solid;
}

button:hover {
    border: 0.2rem dashed;
}

button:active {
    border: 0.2rem dashed;
}

*:disabled {
    opacity: 0.7;
    font-style: italic;
    border: 0.01rem solid;
}

.bold_label {
    font-weight: bold;
}

.important_label {
    text-decoration: underline;
    font-weight: bold;
}

.big_bold_label {
    font-weight: bold;
    font-size: 1.2rem;
}

.window_title {
    border-width: 0.3rem;
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem;
}

.assistant_title {
    border-width: 0.2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

#title_elections_label {
    font-size: 1.5rem;
    font-weight: bold;
}

#coordinator_uri {
    font-size: 1.2rem;
    font-style: italic;
}

#question_box {
    margin: 0.8rem;
}

.assistant_question_overview {
    font-style: italic;
}

#status_main_grid {
    padding: 1rem;
}

.status_bb_grid {
    border: 3px solid;
    padding: 1rem;
    margin: 1rem 1rem 2rem;
}
